---
layout: default
---
<div>
  <a href="https://0x0026.info/"><b>Home</b></a>
  <br>
  <div>{{ page.date | date_to_string }}</div>
  <h1>{{ page.title }}</h1>
</div>

<div class='main'>
  {{ content }}
</div>

<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = '{{ page.url | absolute_url }}';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{{ page.url | absolute_url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://apinfo.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<hr>

<div>
    <h4>記事一覧</h4>

    <h4>新着</h4>
    <ul>
        {% for post in site.posts limit:3 %}
            <li>
                <a href="{{ post.url  | prepend: site.baseurl}}">{{ post.title }}</a>
                <span class="post-date">{{ post.date | date_to_string }}</span>
            </li>
        {% endfor %}
    </ul>

    <h4>カテゴリー</h4>
    {% for category in site.categories %}
    {% capture name %}{{ category[0] }}{% endcapture %}
    <h5>{{ name }} ({{ site.categories[name] | size }})</h5>
    <ul class="posts">
    {% for post in site.categories[name] limit:3 %}
        <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date_to_string }}</span>
        </li>
    {% endfor %}
    </ul>
    {% endfor %}

    <h4>タグ</h4>
    {% for tag in site.tags %}
    {% capture name %}{{ tag[0] }}{% endcapture %}
    <h5>{{ name }} ({{ site.tags[name] | size }})</h5>
    <ul class="posts">
    {% for post in site.tags[name] %}
        <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date_to_string }}</span>
        </li>
    {% endfor %}
    </ul>
    {% endfor %}
</div>